body {
    background-color: #fffdef;
    font-family: "Montserrat", sans-serif;
}

.wrapper{
    padding-left: 500px;
    padding-right: 300px;
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    background-color: #4682A9;
    color: #fffdef;              
    padding: 12px 0;
    width: 100%;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;


}

.textnav
{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.textnav>li{
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}

.textnav>li::before{
    content: '';
    display: block; 
    width: 2px;
    height: 100%;
    background-color: #FFFBDE;
    position: absolute;
    left: 0;
}

.textnav>li:first-child::before{
    display: none;
}

.textnav>li>a{
    text-decoration: none;
    color: #FFFBDE;
    text-align: right;
    margin-right: 30px;
}

