body {
    background-color: #fffdef;
    font-family: "Montserrat", sans-serif;
}

.header img{
    height: px;
    width: 220px;
}

.header{
    background-color: #4682A9;
    color: #fffdef;              
    padding: 6px 0;
    width: 100%;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;


}

.textnav
{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 20px; 
    font-weight: 550;
}

.textnav>li{
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
}


.textnav>li:first-child::before{
    display: none;
}

.textnav>li>a{
    text-decoration: none;
    color: #FFFBDE;
    text-align: right;
    margin-right: 25px;
}


.mainpage{
    padding-top: 200px;
    padding-bottom: 300px;
}
.maintext{
    font-size: 44px;
}

.subtitle{
    font-size: 18px;
}

footer {
    color: #30465A;
    padding: 20px 0;
    text-align: center;
    font-weight: 200;
}