body {
    background-color: #fffdef;
    font-family: "Montserrat", sans-serif;
}

.header img{
    height: 100%;
    width: 220px;
}



.header{
    background-color: #4682A9;
    color: #fffdef;              
    padding: 6px 0;
    width: 100%;
    position: fixed;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.textnav
{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 20px; 
    font-weight: 500;
}

.textnav>li{
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
}


.textnav>li:first-child::before{
    display: none;
}

.textnav>li>a{
    text-decoration: none;
    color: #FFFBDE;
    text-align: right;
    margin-right: 25px;
}

.mainpage img{
    height: 347px;
    width: 347px;
}

.mainpage{
    padding-top: 180px;
    padding-bottom: 200px;
}
.maintext{
    color: #749BC2;
    font-size: 60px;
    text-align: center
}

.subtitle{
    color: #496F94;
    font-size: 22px;
    max-width: 1000px;      /* Максимальная ширина — не больше 1170px */
    margin: 0 auto;         /* Отцентрировать по горизонтали */
    padding-left: 20px;     /* Внутренние отступы (по желанию) */
    padding-right: 20px;
    text-align: center;
}

.list img{
    height: 347px;
    width: 347px;
}
.spisok img{
    height: 347px;
    width: 347px;
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
    padding-top: 180px;
    padding-bottom: 200px;
}

.AI{
    padding-top: 180px;
    padding-bottom: 200px;
}
.text {
    background: #4682A9;
    color: #FFFBDE;
    padding: 14px 28px;        /* отступы внутри рамки */
    border-radius: 50px;
    font-size: 26px;
    text-align: center;

    /* Центрирование по горизонтали */
    display: block;            /* ← обязательно! */
    max-width: 1100px;
    margin: 5px auto 0;      /* сверху 225px, по бокам auto → центр */
    /* padding-left/right НЕ нужно — уже заданы в padding выше */
}

.name{
    color: #406890;
    font-size: 44px;
    font-weight: 700;
}
.spisok{
    color: #59758A;
}


.mainpage-2{
    padding-top: 80px;
    padding-bottom: 200px;
}
.maintext{
    color: #749BC2;
    font-size: 60px;
    text-align: center
}
.subtitle-2{
    color: #5F707C;
    font-size: 20px;
    max-width: 1000px;      /* Максимальная ширина — не больше 1170px */
    margin: 0 auto;         /* Отцентрировать по горизонтали */
    padding-left: 20px;     /* Внутренние отступы (по желанию) */
    padding-right: 20px;
    text-align: center;
}

footer {
    color: #30465A;
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
}