/* тело сайта. Цвет фона и шрифт для всего сайта*/
body {
    background-color: #fffdef;
    font-family: "Montserrat", sans-serif;
}

/* -------------------------------------------------- */

/* редактирование логотипа - его размер*/
.header img{
    height: 100%;
    width: 220px;
}


/*создание баннера*/
.header{
    background-color: #4682A9;
    color: #fffdef;              
    padding: 6px 0;
    width: 100%;
    position: fixed;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

/* -------------------------------------------------- */

/*пространство для текста на баннере*/

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* -------------------------------------------------- */

/*оформление текста на баннере*/

.textnav
{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 22px; 
    font-weight: 500;
}

.textnav>li{
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
}

.textnav>li:first-child::before{
    display: none;
}

.textnav>li>a{
    text-decoration: none;
    color: #FFFBDE;
    text-align: right;
    margin-right: 25px;
}

/* -------------------------------------------------- */

.mainpage{
    padding-top: 200px;
    padding-bottom: 100px;
}

.mainpage img{
    height: 347px;
    width: 347px;
}

/* -------------------------------------------------- */

.maintext{
    color: #749BC2;
    font-size: 60px;
    text-align: center
}

/* -------------------------------------------------- */

.subtitle{
    color: #496F94;
    font-size: 22px;
    max-width: 1000px;      /* Максимальная ширина — не больше 1170px */
    margin: 0 auto;         /* Отцентрировать по горизонтали */
    padding-left: 20px;     /* Внутренние отступы (по желанию) */
    padding-right: 20px;
    text-align: center;
}

/* -------------------------------------------------- */

.list img{
    height: 347px;
    width: 347px;
}

/*текст в рамке*/
.text {
    background: #4682A9;
    color: #FFFBDE;
    padding: 20px 28px;        /* отступы внутри рамки */
    border-radius: 62px;
    font-size: 30px;
    text-align: center;
    /* Центрирование по горизонтали */
    display: block;            /* ← обязательно! */
    max-width: 1100px;
    margin: 25px auto 0;      /* сверху 225px, по бокам auto → центр */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

/* -------------------------------------------------- */
/*нзвание списка*/
.name{
    color: #406890;
    font-size: 46px;
    font-weight: 700;
    padding: 0; 
    margin-top: 200px;
    margin-left: 70px;
}

/* -------------------------------------------------- */

.spisok img{
    height: 347px;
    width: 347px;
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
    right: 50px;

}

.spisok{
    color: #30465A;
    font-size: 30px;
}

/* -------------------------------------------------- */

.textspisok{
    background: linear-gradient(to bottom right,#AAD4E6, #4682A9);
    padding: 30px 15px;
    border-radius: 35px;
    text-align: left;
    display: block;         
    max-width: 900px;  
    margin: 18px 0 0 150px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

/* -------------------------------------------------- */


.AI {
  display: flex;
  align-items: flex-start; 
  padding-top: 220px;
  padding-bottom: 200px;
}

.AI img {
  width: 370px;
  height: 450px;
  margin-left: 50px;
}

.AI-text {
    margin-right: 50px;
  margin-left: auto;
  text-align: center;
  font-size: 36px;
  color: #30465A;
}

.arrow img{
    height: 150px;
    width: 170px;
    top: 50px;
    left: 50px;
}

.butten{
    background: #4682A9;
    color: #FFFBDE;
    padding: 20px;        /* отступы внутри рамки */
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    /* Центрирование по горизонтали */
    display: block;            /* ← обязательно! */
    max-width: 500px;
    font-weight: 600;
    margin: 25px auto 0;      /* сверху 225px, по бокам auto → центр */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

/* -------------------------------------------------- */

footer {
    color: #30465A;
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
}

/* -------------------------------------------------- */